@model MyImage.Models.SizeDetail

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "SizeDetailDelete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SizeDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size_Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size_Discription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size_inches)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size_inches)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size_Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size_Price)
        </dd>
    </dl>

    <form asp-action="SizeDetailDelete">
        <input type="hidden" asp-for="Size_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="SizeDetailList">Back to List</a>
    </form>
</div>
